public net.minecraft.client.model.geom.ModelPart$Polygon
public net.minecraft.client.model.geom.ModelPart$Vertex
public net.minecraft.client.gui.Gui$HeartType

public net.minecraft.client.renderer.OutlineBufferSource$EntityOutlineGenerator

public net.minecraft.client.renderer.texture.SpriteContents$Ticker
public net.minecraft.client.renderer.texture.SpriteContents$FrameInfo
public net.minecraft.client.renderer.texture.SpriteContents$AnimatedTexture
public net.minecraft.client.renderer.texture.SpriteContents$AnimatedTexture frames
public net.minecraft.client.renderer.texture.SpriteContents$FrameInfo time

#1.20
public net.minecraft.client.renderer.RenderStateShard name

public net.minecraft.client.renderer.ShaderManager$ShaderSourceKey
public net.minecraft.client.renderer.ShaderManager$ShaderSourceKey <init>(Lnet/minecraft/resources/ResourceLocation;Lcom/mojang/blaze3d/shaders/ShaderType;)V
public net.minecraft.client.renderer.ShaderManager$CompilationCache

#for neoforge
public com.mojang.blaze3d.opengl.GlStateManager$TextureState
public com.mojang.blaze3d.opengl.GlStateManager$TextureState binding