
public net.minecraft.client.model.geom.ModelPart$Polygon
public net.minecraft.client.model.geom.ModelPart$Vertex
public net.minecraft.client.gui.Gui$HeartType

public net.minecraft.client.renderer.OutlineBufferSource$EntityOutlineGenerator

public net.minecraft.client.renderer.texture.SpriteContents$Ticker
public net.minecraft.client.renderer.texture.SpriteContents$FrameInfo
public net.minecraft.client.renderer.texture.SpriteContents$AnimatedTexture
public net.minecraft.client.renderer.texture.SpriteContents$AnimatedTexture frames
public net.minecraft.client.renderer.texture.SpriteContents$FrameInfo time

#for neoforge
public com.mojang.blaze3d.platform.GlStateManager$TextureState
public com.mojang.blaze3d.platform.GlStateManager$TextureState binding

#1.20
public net.minecraft.client.renderer.RenderStateShard name

#1.21.3 shader internals
public net.minecraft.client.renderer.CompiledShaderProgram <init>(I)V
public net.minecraft.client.renderer.ShaderManager$CompilationCache
public net.minecraft.client.renderer.ShaderManager$ShaderCompilationKey
public net.minecraft.client.renderer.ShaderManager$ShaderSourceKey
