
public net.minecraft.client.model.geom.ModelPart$Polygon
public net.minecraft.client.model.geom.ModelPart$Vertex
public net.minecraft.client.gui.Gui$HeartType

public net.minecraft.client.renderer.OutlineBufferSource$EntityOutlineGenerator

#1.20
public com.mojang.blaze3d.systems.RenderSystem vertexSorting
public net.minecraft.client.renderer.RenderStateShard name
